<body>
  <div>
    <%= @user.name %>
  </div>
  <div>
  <!--自身の投稿した映画一覧-->
    <table>
      <% @movies.each do |movie| %>
      <tr>映画画像</tr>
      <tr><%= movie.title %></tr>
      <% end %>
    </table>

  <!--映画投稿フォーム-->
    <%= form_with model:@movie, url:movies_path, local:true do |f| %>
    映画画像
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <h4>あらすじ</h4>
    <%= f.text_area :body %>
    <%= f.submit '投稿' %>
    <% end %>
  </div>
</body>